.col1 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}
.col2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.col5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}