* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.col {
    border: 1px solid white;
    background-color: blue;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents{
    color: white;
}

