* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    background-color: blue;
}
.col1 {
    border: 1px solid white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents{
    color: white;
}
