* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    background-color: blue;
}
.col {
    border: 1px solid white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents{
    color: white;
}
.subrow {
    width: 100%;
    background-color: green;
}
.lg .col {
    height: 3rem;
}
.subrow .col {
    height: 2rem;
    border: 1px solid blue;
}
